div {
    position: relative;
    display: inline-block;
}

img{
    position: absolute;
    height: 96px;
    width: 96px;
    left: 22px;
    /* float: left; */
}

/* .details {
    width: 280px;
    height: 140px;
    float: right; 
    text-align: center;
} */

.name{
    width: 140px;
    height: 140px;
    float: right;
    text-align: center;

}

