
.pokemondetails {
    text-transform: capitalize;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 150%;
    margin: 8px;
    display: inline-flex;
    width: 140px;
    height: 140px;
    background-image: radial-gradient(azure 7%, navajowhite 93%);
 /*   background: -webkit-gradient(linear, left top, right top, color-stop(50%,#141414), color-stop(50%,#333), color-stop(0%,#888));*/
    font-weight: bolder;
    border-radius: 25px;
    cursor: pointer;
    border-width: 2px;
    border: solid lightskyblue;
} 
.pokemondetails:hover {
    background-image: azure !important; 
}

.name {

    width: 140px;
    height: 140px;
    text-align: center;
}