img {
    top: 10%;
    position: relative;
    height: 180px;
    width: 180px;
    float: left;
    background-color: burlywood;
    border-radius: 10px;
    /* border-width: 1px;
    border: solid rgb(1, 1, 65); */
    left: 10%;
}

.name {
    text-transform: capitalize;
    font-size: 280%;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    position: relative;
    margin:auto;
    height: 65px;
    width: 55%;
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
}

.titlecontainer{
    position: relative;
    display: flex;
    margin:auto;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    top: 30px;
    /* border-width: 1px;
    border-radius: 10px;
    border: solid rgb(1, 1, 65); */
    
}

.pokedetails {
    display: flex;
    font-size: 120%;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    left: 15px;
    /* border-radius: 10px;
    border-width: 1px;
    border: solid rgb(1, 1, 65); */
}

.pokeType { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-width: 1px;
    border-radius: 10px;
    border: solid rgb(1, 1, 65);
    text-align: center;
}

.pokeStats {
    position: relative;
    left: 30%;
    width: 180px;
    text-transform: capitalize;
    font-size: 120%;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    /* border-radius: 10px;
    border-width: 1px;
    border: solid rgb(1, 1, 65); */
}

.desccontainer{
    position: relative;
    display: flex;
    margin:auto;
    font-size: 120%;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    height: 100%;
    width: 40%;
    border-radius: 10px;
    top: 50px;
    /* border-width: 1px;
    border-radius: 10px;
    border: solid rgb(1, 1, 65); */    
}

.profilecontainer{
    position: relative;
    display: inline-block;
    font-size: 110%;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    text-transform: capitalize;
    height: 100%;
    width: 40%;
    border-radius: 10px;

}

.steel { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(184, 184, 208)
}

.water { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(108, 143, 234)
}

.electric { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(247, 208, 48)
}

.normal { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(177, 160, 122)
}

.fire { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(235, 128, 55)
}

.fighting { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(192, 56, 36)
}

.flying { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(169, 143, 244)
}

.fairy { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(242, 152, 171)
}

.grass { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(119, 202, 70)
}

.poison { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(158, 66, 157)
}

.ground { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(223, 190, 111)
}

.psychic { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(254, 86, 136)
}

.rock { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(181, 158, 51)
}

.ice { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(151, 217, 216)
}

.bug { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(169, 210, 46)
}

.dragon { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(110, 53, 249)
}

.ghost { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(114, 87, 154)
}

.dark { 
    display: inline-block;
    position: relative;
    left: 30%;
    text-transform: capitalize;
    font-size: 120%;
    width: 75px;
    font-weight: bolder;
    font-family: 'Annie Use Your Telescope', cursive;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(113, 87, 70)
}

